:root {
	--color-shadow: rgb(204 177 161 / 60%);
}
body {
	overflow-x: hidden;
}

#nexmoe-content .nexmoe-post-footer {
	background-color: transparent;
}

iframe {
	width: 100%!important;
}

article ul li {
    line-height: 1.5rem;
}